#header {
    display: flex;
    align-items: center;
    min-height: 2rem;
    padding: .5rem 1rem;
    @apply bg-zinc-800 text-zinc-100;
}

#header > ul {
    list-style: none;
}

#header > ul > li {
    display: inline-block;
    padding-inline-start: 1rem;
}

#header > .lead {
    flex-grow: 1;
}